<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  hbs task sara </title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <div>
        {{>header}}
    </div>
    <section id="home" >
        <h2>  {{title}} from home page </h2>
        <h2>  from home page 2 </h2>
        <p> {{desc}} </p>
        <p> {{desc}} </p>
        <button>send</button>
    </section>
    {{!-- <footer>
        {{>footer}}
    </footer> --}}



 
</body>

</html>